# Package Files #
*.jar
*.war
*.ear

# Java #
*.class

# Linux #
.*
*~
!.gitignore

# NetBeans #
nbproject/private/
nbproject
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/IngenieriaSoftware/nbproject/private/
